.home{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
   background: linear-gradient(-45deg, #ff8800, #000000, #ff9d00, #ff5100);
background-size: 400% 400%;
animation: backgorundGradient 15s ease infinite;
}
  @keyframes backgorundGradient {
0% {
  background-position: 0% 50%;
}
50% {
  background-position: 100% 50%;
}
100% {
  background-position: 0% 50%;
}
}

#mainHeader {
font-size: 70px;
font-weight: bold;


}
#description {
  font-size: 24px;
    }

#homepagetext{
color: white;
margin-left: 25%;
margin-right: 25%;
margin-top: 20%;
display: inline-block;
margin-bottom: 20px;

}
#homepagetext:hover {
transform: scale(1.05);



}

#navbar {
position: fixed;
top: 0px;
left: 0;
width: 100%;
box-sizing: border-box;
background-color: #000000;
z-index: 1000;
}

#navbar a {
text-decoration: none;
color: #ffffff; 
margin-right: 20px;
font-weight: bold;
transition: transform 0.2s, color 0.2s, text-shadow 0.2s; 
display: inline-block;
padding: 10px 20px;
width: 90px;
position: relative;
overflow: hidden;
font-size: 20px;
}

#navbar a:hover {
color: #ffffff; 
text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); 
font-size: 28px; 
transition: 1s;
}

#navbar a:hover {


}

#FindOutbtn a {
display: inline-block;
padding: 10px 20px;
margin-top: 5%;
margin-left: 60%;
margin-right: 20px;
text-decoration: none;
color: white;
font-weight: bold;
border: 2px solid white; 
background-color: transparent; 
border-radius: 2px;
animation: shake 5s infinite;

}

@keyframes shake {
0%, 100% {
transform: translateX(0);
}
10%, 30%, 50%, 70%, 90% {
transform: translateX(-5px);
}
20%, 40%, 60%, 80% {
transform: translateX(5px);
}
}
#FindOutbtn a:hover {
background-color: white;
color: black;}

#logo{
padding-left: 40%;
height: 50px;
width: 200px;
}

/*style for about page */

  body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  
  section {
    width: 100%;
    height: 100vh;
  }
  #main, #darkDays {
    background-color: rgb(0, 0, 0);
  }
     .content{
    max-width: 1200px;
    margin: 0 auto;
    padding: 9px;
  }

    .boxes{
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  .box {
    width: 30%;
    min-height: 70vh;
    background-color: #ffc935;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

.img-box {
display: flex;
align-items: center;
justify-content: center;
position: relative;
overflow: hidden;}

.img-box img {
max-width: 100%;
max-height: 100%;
transition: transform 0.3s ease;
}
  .img-box:hover img {
    transform: scale(1.1);
  }


  .title {
    background-color: #ff9035;
    padding: 18px;
    padding-bottom: 0%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 0; 
    margin-bottom: 0%;
    text-align: center;
    
  }

  .boxText {
    padding: 8px;
    text-align: center;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }


  .pageTitle {
    padding-top: 2%;
    padding-bottom: 1%;
    color: #ffff;
    text-align: center;

  }
.sectionTiltle{
  margin-top: 0;
  padding-top: 60px;
  color: #ffffff;
  text-align: center;
  font-size: 25px;

  
}
.darkDays2Image{
  width: 30%;
  height: 80%;
  border-radius: 30px;

}